/* I picked these for my condition to give my page a center focus */
.grid-container {
	display: grid;
	margin: 0 1.5% 24px 1.5%;
	background: linear-gradient(to right, #FFFFFF  0%, #000000 100%);
    border-radius: 4px;
    text-align: left;
    padding: 30px 15px;
}

header{
    background-color: #F1F1F1;
    text-align: center;
    padding: 25px;
}

/*	*************************************
	Base
	************************************* */
body { 
	margin: 0;
	background: linear-gradient(to right, #000000 0%, #FFFFFF 100%);
	color: #333333;
	font-family: "OCR A Std", monospace; color: white; font-size: 20px;
}

/* chose this color to contrast against the black and pop-out */

h1 {
	color: #000000;
	border-bottom: 1px solid #B0F77B;
	text-align: center;
}

h2 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	background-color: #B0F77B;
	color: #000000;
	font-family: "OCR A Std", monospace, serif;
	text-align: center;
}
h3 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	color: #000000;
	font-family: "OCR A Std", monospace, serif;
	text-align: center;
	border-bottom: 1px solid #B0F77B;

}
h4 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	color: #000000;
	font-family: "OCR A Std", monospace, serif;
	text-align: center;
	border-bottom: 1px solid #B0F77B;

}
h5 {
	font-style: italic;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 5px; 
	color: #000000;
	font-family: "OCR A Std", monospace, serif;
	text-align: center;
}
p { 
	font-family: "Andale Mono", monospace;
	margin: 0 1.5% 24px 1.5%; 
	border: 5px;
}

ol, ul { padding-left: 20px; }

a { 
	color: #000000;
	text-decoration: none;
	display: block; 
}
a:hover { color: #B0F77B;}
a:hover img { opacity: 0.5; }

.content {
box-shadow: 2px 2px 5px 0 #aaaaaa;
}

/*	*************************************
	Layout
	************************************* */
.article { 
	display: table-cell;
	background-size: cover;
	width: 85%; 
	padding: 20px;
	margin: 0 auto;
}
.article p { 
	background-color: #000000;
	padding: 5px; 
	margin: 5px;
}
/* I aligned the text to center to prevent overlay */
footer { 
	background-color: #000000;
	text-align: center;  
	padding: 10px;
}

.article figure {
  text-align: right;
  text-transform: uppercase;
  padding: 10px;
  margin: auto;  
  float: left;
}

img {
 	float: left;
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 7px #B0F77B;
    margin: auto;
    width: 240px;
    padding: 10px;
}

.container {
    width: 60%;
    background-color: #FDE7CC;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
}

/*	For my footer */
.horizontal-menu .current a { color: black; }

.flowing-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}
.flowing-boxes li {
	flex: 1 1 300px;
	list-style-type: none;
}

.navbar-brand{
  font-family: 'Satisfy', cursive;
}

.slider img{
  margin: 0 auto;
  width: 400px;
  padding: 20px;
}


.user {
  width: 400px;
  height: 165px;
  margin: 2em 0;
  border: 3px solid #E18728;
  border-radius: 10px;
  background-color: white;
}